<section class="py-5 text-center container">
    <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
            <h1 class="fw-light">ようこそ、PhotoAlbumへ</h1>
            <p class="lead text-body-secondary">
                お気に入りの写真を投稿して、共有しましょう！
            </p>
            <p>
                @if (User.Identity.IsAuthenticated)
                {
                    <a class="btn btn-primary my-2" asp-area="" asp-controller="PhotoPosts" asp-action="Create">投稿する</a>
                }
                else
                {
                    <a class="btn btn-primary my-2" asp-area="" asp-controller="Login" asp-action="login">ログイン</a>
                    <a class="btn btn-secondary my-2" asp-area="" asp-controller="Users" asp-action="Create">新規登録</a>
                }
            </p>
        </div>
    </div>
</section>
