@{
    ViewData["Title"] = "プライバシーポリシー";
}

<div class="container">
    <h1>@ViewData["Title"]</h1>
    <hr />
    <div class="row">
        <div class="col-md-8">
            <p>
                当社は、お客様のプライバシーを尊重し、大切に扱います。当社のプライバシーポリシーは以下の通りです。
            </p>
            <p>
                1. 収集される情報の種類：<br />
                当社は、ウェブサイトの正常な運用および改善のために、お客様の個人を特定できる情報を収集および利用することがあります。収集される個人情報の種類には、名前、電子メールアドレス、住所、電話番号などが含まれる場合があります。
            </p>
            <p>
                2. 情報の使用目的：<br />
                当社は、収集された情報を以下の目的のために利用することがあります。
                <ul>
                    <li>ウェブサイトの提供、運営、および管理</li>
                    <li>ウェブサイト上のコンテンツのカスタマイズ</li>
                    <li>ユーザーサポートの提供</li>
                    <li>ウェブサイトの利用状況の分析および改善</li>
                    <li>法的要件や規制への対応</li>
                </ul>
            </p>
            <p>
                3. 情報の共有と開示：<br />
                当社は、お客様の個人情報を第三者と共有または開示することがありますが、以下の場合に限ります。
                <ul>
                    <li>ユーザーの同意がある場合</li>
                    <li>法的要件や規制への遵守が必要な場合</li>
                    <li>当社の権利や財産の保護、または当社の法的責任の明確化が必要な場合</li>
                </ul>
            </p>
            <p>
                4. Cookieの使用：<br />
                当社のウェブサイトは、Cookieを使用してユーザーエクスペリエンスを改善します。Cookieは、ウェブサイトがユーザーのブラウザに送信するデータファイルです。ユーザーはブラウザ設定でCookieの使用を管理できますが、一部の機能が制限される可能性があります。
            </p>
            <p>
                5. リンク先のサイトへのリンク：<br />
                当社のウェブサイトには、他のサイトへのリンクが含まれる場合があります。これらのサイトのプライバシーポリシーは当社の管理外であり、当社はこれらのサイトの内容や活動に関与していません。リンク先のサイトのプライバシーポリシーをご確認ください。
            </p>
            <p>
                6. プライバシーポリシーの変更：<br />
                当社は、必要に応じてプライバシーポリシーを変更する権利を留保します。変更が加えられた場合は、このページで変更内容を公開します。変更内容は有効日から即時に有効となります。
            </p>
            <p>
                7. お問い合わせ：<br />
                プライバシーポリシーに関するご質問やお問い合わせがある場合は、お問い合わせページからお問い合わせください。
            </p>
        </div>
    </div>
</div>
