@model PhotoApp_MVC.ViewModels.PhotoPostViewModel

@{
    ViewData["Title"] = "Create";
}
<div class="container">
    <h1>@ViewData["Title"]</h1>

    <h4>Photo Post</h4>
    <hr />
    @if (!string.IsNullOrEmpty(ViewData["message"] as string))
    {
        <div class="alert alert-danger">
            <p>@ViewData["message"]</p>
        </div>
        <div>
            <a asp-action="Index" asp-controller="Categories">カテゴリ登録</a>
        </div>

    }
    else
    {
        <div class="row">
            <div class="col-md-4">
                <form asp-action="Create" method="post" enctype="multipart/form-data">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Title" class="control-label"></label>
                        <input asp-for="Title" class="form-control" />
                        <span asp-validation-for="Title" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Description" class="control-label"></label>
                        <textarea asp-for="Description" class="form-control" rows="5"></textarea>
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ImageUrl" class="control-label"></label>
                        <input asp-for="ImageUrl" type="file" class="form-control" name="imageFile">
                        <span asp-validation-for="ImageUrl" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="CategoryName" class="control-label"></label>
                        <select asp-for="CategoryName" class="form-control" asp-items="Model.Categories"></select>
                        <span asp-validation-for="CategoryName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Create" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>
    }

    <div>
        <a asp-action="Index">Back to List</a>
    </div>
    </div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
