<h1>Admin Page</h1>

    <li class="nav-item">
        <a class="nav-link text-white" asp-area="" asp-controller="Users" asp-action="Index">Users</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-white" asp-area="" asp-controller="Roles" asp-action="Index">Roles</a>
    </li>
